{%  extends '_inc/base.html' %}
{% block content %}
<h1>LOGIN</h1>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
{% from "_util.html" import render_field %}
<form id="loginForm" class="form form-register" method="POST" action="" role="form">
    {{ render_field(form.login, placeholder="login") }}<br>
    {{ render_field(form.password, placeholder="password") }}<br>
    <p><input class="btn btn-danger" type="submit" value="Login"></p>
</form>
{% endblock %}