

<h1>REGISTER</h1>

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

{% from "_util.html" import render_field %}
<form id="loginForm" class="form form-register" method="POST" action="" role="form">
    {{ render_field(form.login, placeholder="login") }}<br>
    {{ render_field(form.email, placeholder="Email") }}<br>
    {{ render_field(form.phone, placeholder="+375....") }}<br>
    {{ render_field(form.password, placeholder="Password") }}<br>
    {{ render_field(form.confirm, placeholder="Password (again)") }}<br>
    <p><input class="btn btn-default btn-submit" type="submit" value="Login"></p>
</form>

<a href="/">index</a><br>
<a href="/login">login</a><br>