{% load static %}
<header class="header_area">
    <div class="main_menu">
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container">
                <a class="navbar-brand logo_h" href="{% url 'home' %}"><img src="{% static 'img/logo.png' %}" alt=""></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
                    <ul class="nav navbar-nav menu_nav ml-auto mr-auto">
                        <li class="nav-item active"><a class="nav-link" href="{% url 'home' %}">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'shop_category' %}">Shop</a></li>
                        <li class="nav-item submenu dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-haspopup="true"
                               aria-expanded="false">Blog</a>
                            <ul class="dropdown-menu">
                                <li class="nav-item"><a class="nav-link" href="{% url 'blog' %}">Blog</a></li>
                                <li class="nav-item"><a class="nav-link" href="single-blog.html">Blog Details</a></li>
                            </ul>
                        </li>

                        <li class="nav-item"><a class="nav-link" href="{% url 'contact' %}">Contact</a></li>
                    </ul>

                    <ul class="nav-shop">
                        <li class="nav-item">
                            <!-- Start Filter Bar -->


                        </li>
                        <li class="nav-item" ><a href="{% url 'home' %}"></a>
                            {% if request.user.is_authenticated %}
                            <button> <a href="{% url 'cart' %}"><i class="ti-shopping-cart" ></i><span class="nav-shop__circle" >{{ cart.products.count }}</span></a></button>
                            {% else %}
                            <button> <a href="{% url 'cart' %}"><i class="ti-shopping-cart" ></i><span class="nav-shop__circle" ></span></a></button>
                              {% endif %}
                        </li>
                    </ul>
                </div>
            </div>
            {% if request.user.is_authenticated %}
             <div class="col-md-1 text-end">
                 Здравствуйте {{ user.username }} | <a href="{% url 'logout' %}">Выйти</a>
            {% else %}
                 <div class="col-md-3 text-end">
        <button type="button" class="btn btn-outline-primary me-2"><a href="{% url 'login' %}">Login</a></button>
        <button type="button" class="btn btn-outline-primary"><a href="{% url 'register' %}">Sign-up</a></button>
      </div>
            {% endif %}
        </nav>
    </div>
</header>